@font-face {

  font-family: 'Inter';

  src: url('./Inter-Bold.woff2') format('woff2'),

    url('./Inter-Bold.woff') format('woff');


  font-style: normal;

}

.hello {
    color: red;
    font-family: 'Inter';
    background: url('./dall-e.png');
}